<%layout('layouts/boilerplate.ejs')%>

<div id="clusterMap" style="width: 100%; height: 500px;"></div>

<h1 class="allCamp">
    All Campgrounds
</h1>

<div class="card-container">
    <%for(let campground of campgrounds) {%>
        <div class="card">
            <img crossorigin="anonymous" src="<%=campground.image[0].url%>" class="card-img" alt="campground">
            <div class="card-body">
                <h3 class="card-title"><%=campground.title%></h3>
                <p class="card-desc"><%=campground.description%></p>
                <div class="card-price">$<%=campground.price%></div>
                <a href="/campgrounds/<%=campground._id%>" class="card-btn">View Campground</a>
            </div>
        </div>
        <% } %>
</div>
<script>
    mapToken='<%-process.env.mapbox_token%>'
    const campgrounds={features:<%-JSON.stringify(campgrounds)%>}
</script>
<script src="/js/clusterMap.js"></script>